@import '../../reset';
@import "../../variables";

body {
  font-family: "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  color: $text-color;
}
a {
  text-decoration: none;
  cursor: default;
}
button {
  background: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 0 50px;
}

