.header {
    display: flex;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #24292f;
    align-items: center;
    margin-bottom: 1.5rem;
}
.title h1 {
    font-size: 22px;
    margin-left: 20px;
    font-weight: 500;
}
