@import "../../variables";

.container {
  max-width: 500px;
  margin: 70px auto;
  .wrapper {
    padding: 10px;
    background: $light-bg;
    border-radius: 6px;
    margin-bottom: 35px;
    width: 100%;
    height: 50px;
    position: relative;
    border: $item-border;
    text-align: center;
    &:hover {
      cursor: pointer;
      border: $box-shadow_hover;
      box-shadow: $box-shadow_hover;
      .login {
        color:$base-color;
      }
      img {
        opacity: 1;
        width: 73px;
        height: 73px;
      }
    }

    img {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      position: absolute;
      //top: -23%;
      top: calc(-155%/2 + 50px/2 );
      left: -5%;
      opacity: 0.8;
      transition: all 0.7s;
    }

    .login {
      font-weight: bold;
    }
  }
}
